.monthCard {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 120px;
  max-height: 300px;

  &IsToday {
    background-color: lightblue;
  }


  &Title {
    display: flex;
    justify-content: space-between;
  }

  &NotDateOfMonth {
    filter: opacity(.3);
  }

  &EventList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow: auto;


    &Item {
      background-color: #eee;
      padding: 5px;
      font-size: 90%;
      position: relative;
      border-radius: 5px;

      &Title {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 45px);
      }

      &DeleteButton {
        position: absolute !important;
        right: 8px !important;
        top: 8px !important;
        padding: 5px !important;
        background-color: #990000 !important;
      }

      &EditButton {
        position: absolute !important;
        right: 30px !important;
        top: 8px !important;
        padding: 5px !important;
        background-color: #007700 !important;

      }
    }
  }
}

