.wrap {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: fit-content;
}


.monthCaption {
  display: flex;
  justify-content: center;
  min-width: 120px;
}

.calendar {
  position: relative;

  &Input {
    visibility: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
    position: absolute;
    bottom: -5px;
    left: 0;
  }


}
